<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.beetsworking.tdvisaforms2013</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.5</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FrutigerLTStd-Bold.otf</string>
		<string>FrutigerLTStd-ExtraBlackCn.otf</string>
		<string>FrutigerLTStd-Black.otf</string>
		<string>FrutigerLTStd-Italic 2.otf</string>
		<string>FrutigerLTStd-BlackCn 2.otf</string>
		<string>FrutigerLTStd-Italic.otf</string>
		<string>FrutigerLTStd-BlackCn.otf</string>
		<string>FrutigerLTStd-Light 2.otf</string>
		<string>FrutigerLTStd-BlackItalic 2.otf</string>
		<string>FrutigerLTStd-Light.otf</string>
		<string>FrutigerLTStd-BlackItalic.otf</string>
		<string>FrutigerLTStd-LightCn 2.otf</string>
		<string>FrutigerLTStd-Bold.otf</string>
		<string>FrutigerLTStd-LightCn.otf</string>
		<string>FrutigerLTStd-BoldCn 2.otf</string>
		<string>FrutigerLTStd-LightItalic 2.otf</string>
		<string>FrutigerLTStd-BoldCn.otf</string>
		<string>FrutigerLTStd-LightItalic.otf</string>
		<string>FrutigerLTStd-BoldItalic 2.otf</string>
		<string>FrutigerLTStd-Roman 2.otf</string>
		<string>FrutigerLTStd-BoldItalic.otf</string>
		<string>FrutigerLTStd-Cn 2.otf</string>
		<string>FrutigerLTStd-Roman.otf</string>
		<string>FrutigerLTStd-UltraBlack 2.otf</string>
		<string>FrutigerLTStd-Cn.otf</string>
		<string>FrutigerLTStd-UltraBlack.otf</string>
		<string>Helvetica-Neue.dfont</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
